In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('project_data.csv')

In [3]:
df.head()

         Date        Open        High  ...  USO_Close  USO_Adj Close  USO_Volume
0  2011-12-15  154.740005  154.949997  ...  36.130001      36.130001    12616700
1  2011-12-16  154.309998  155.369995  ...  36.270000      36.270000    12578800
2  2011-12-19  155.479996  155.860001  ...  36.200001      36.200001     7418200
3  2011-12-20  156.820007  157.429993  ...  37.560001      37.560001    10041600
4  2011-12-21  156.979996  157.529999  ...  38.110001      38.110001    10728000

[5 rows x 81 columns]